$material-icons-font-path: '~material-icons/iconfont/';
@import 'material-icons/iconfont/material-icons.scss';

body {
	margin: 0 0 0 0;
	background: powderblue;
}
.register-form {
	max-width: 1280px;
	min-width: 280px;
	max-height: 800px;
	min-height: 400px;
	margin: auto;
	margin-top: 40px;
	padding-top: 20px;
	text-align: center;
	background: white;
}

.input-field {
	padding-bottom: 20px;
}