$material-icons-font-path: '~material-icons/iconfont/';
@import 'material-icons/iconfont/material-icons.scss';

body {
	margin: 0 0 0 0;
	background: powderblue;
}

.register-form {
	min-width: 280px;
	min-height: 400px;
	width: 70%;
	height: 30%;
	margin: auto;
	margin-top: 40px;
	padding-top: 20px;
	text-align: center;
	background: white;

	.form-field {
		width: 50%;
	}
}